<%
	var globals = ENTRY.globals;
	var header = ENTRY.header;
	var list = ENTRY.list;
	var footer = ENTRY.footer;

	// определяем заголовок для корзины
	var cartTitle = header.titles.default;
	if ( globals.cartIsEmpty ) {
		cartTitle = header.titles.defaultEmpty;
	}

	function tplSvgUse( symbol ) {
		var href = globals.paths.mediaFolder+'svg/sprite.svg#'+symbol;
		return '<svg><use xlink:href="'+href+'" /></svg>';
	};
-%>
<div class="cart-order">
    <div class="cart-order__head">
        <div class="cart-order__title">
            <span><%- header.titles.default %></span>
        </div>
        <% if (globals.cartIsEmpty) { -%>
        <div class="cart-window__head">
            <span><%- header.titles.defaultEmpty %></span>
        </div>
        <% } else { -%>
        <div class="cart-order__text">
            <span><%- globals.quantity.products %> <%- header.titles.products %> <span class="cart-order__select"><%- globals.totalPrices.retail %> <%- globals.currency %></span></span>
        </div>
        <% } -%>
    </div>
    <div class="cart-order__body">
        <% if (list.length) { -%>
        <% list.forEach( function(item) { -%>
        <div class="cart-order__item">
            <div class="grid i-10">
                <div class="cell cell--5 cell--sm6">
                    <a href="<%- item.url %>" class="cart-order__image">
                        <img src="<%- item.images.default %>" alt="">
                    </a>
                </div>
                <div class="cell cell--19 cell--sm18">
                    <div class="grid i-5">
                        <div class="cell cell--12">
                            <a href="<%- item.url %>" class="cart-order__name">
                                <span><%- item.title %></span>
                            </a>
                        </div>
                        <div class="cell cell--6">
                            <div class="cart-order__count">
                                <span><%- item.quantity.selected %> <%- header.titles.quantity %></span>
                            </div>
                        </div>
                        <div class="cell cell--6">
                            <div class="cart-order__price">
                                <span><%- item.totalPrices.retail %> <%- globals.currency %></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr mv-20"></div>
        <% }); -%>
        <div class="cart-order__foot pb-20">
            <div class="grid grid--jbetween i-10">
                <div class="cell">
                    <div class="cart-order__info">
                        <span><%- header.titles.result %></span>
                    </div>
                </div>
                <div class="cell">
                    <div class="cart-order__total">
                        <span><%- globals.totalPrices.retail %> <%- globals.currency %></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="gcenter mt-20">
            <div class="cart-order__name js-mfp-ajax" data-url="<%- globals.paths.mfpOpen %>" data-param='{"WezomCart":{"controller":"updateCarts"}}'>
                <span><%- header.titles.orderLink %></span>
            </div>
        </div>
        <% } -%>
        <% if (globals.cartIsEmpty) { -%>
        <div class="gcenter mv-20">
            <a href="<%- globals.paths.indexView %>" class="cart-order__name">
                <span><%- header.titles.gotoBtn %></span>
            </a>
        </div>
        <% } -%>
    </div>
</div>