<%
	var globals = ENTRY.globals;
	var header = ENTRY.header;
	var list = ENTRY.list;
	var footer = ENTRY.footer;

	// определяем заголовок для корзины
	var cartTitle = header.titles.default;
	if ( globals.cartIsEmpty ) {
		cartTitle = header.titles.defaultEmpty;
	}

	function tplSvgUse( symbol ) {
		var href = globals.paths.mediaFolder+'svg/sprite.svg#'+symbol;
		return '<svg><use xlink:href="'+href+'" /></svg>';
	};
-%>
