<%
	var globals = ENTRY.globals;
	var header = ENTRY.header;
	var list = ENTRY.list;
	var footer = ENTRY.footer;

	// определяем заголовок для корзины
	var cartTitle = header.titles.default;
	if ( globals.cartIsEmpty ) {
		cartTitle = header.titles.defaultEmpty;
	}

	function tplSvgUse( symbol ) {
		var href = globals.paths.mediaFolder+'svg/sprite.svg#'+symbol;
		return '<svg><use xlink:href="'+href+'" /></svg>';
	};
-%>
<div class="cart-window__container mb-20">
    <div class="cart-window__title">
        <span><%- header.titles.default %></span>
    </div>
    <% if (globals.cartIsEmpty) { -%>
    <div class="cart-window__head">
        <span><%- header.titles.defaultEmpty %></span>
    </div>
    <% } else { -%>
    <div class="cart-window__head">
        <span><%- globals.quantity.products %> <%- header.titles.products %> <span class="cart-window__select"><%- globals.totalPrices.retail %> <%- globals.currency %></span></span>
    </div>
    <% } -%>
</div>
<div class="cart-window__hr mb-md20"></div>
<% if (list.length) { -%>
<div class="cart-window__container p-20 md-hide">
    <div class="grid i-10">
        <div class="cell cell--12">
            <div class="cart-window__head">
                <span><%- header.titles.name %></span>
            </div>
        </div>
        <div class="cell cell--4">
            <div class="cart-window__head">
                <span><%- header.titles.price %></span>
            </div>
        </div>
        <div class="cell cell--4">
            <div class="cart-window__head">
                <span><%- header.titles.count %></span>
            </div>
        </div>
        <div class="cell cell--4">
            <div class="cart-window__head">
                <span><%- header.titles.total %></span>
            </div>
        </div>
    </div>
</div>
<% list.forEach( function(item) { -%>
<div class="cart-window__content p-20 mb-20 js-wcart-item" data-id="<%- item.id %>">
    <div class="cart-window__icon js-wcart-item__remove-notice-open">
        <%- tplSvgUse( 'icon-remove' ) %>
    </div>
    <div class="cart-window__notice pg-20">
        <div class="grid ig-10">
            <div class="cell cell--24 pb-20">
                <div class="cart-window__text">
                    <span><%- header.titles.ask %></span>
                </div>
            </div>
            <div class="cell">
                <div class="btn btn--green btn--small js-wcart-item__remove-notice-close">
                    <span><%- header.titles.no %></span>
                </div>
            </div>
            <div class="cell">
                <div class="btn btn--small js-wcart-item__remove">
                    <span><%- header.titles.yes %></span>
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid--acenter grid--mdastart grid--jbetween i-10">
        <div class="cell cell--12 cell--md24">
            <div class="cart-window__head md-show mb-10">
                <span><%- header.titles.name %></span>
            </div>
            <div class="grid grid--nowrap i-5">
                <div class="cell cell--nogrow cell--noshrink">
                    <a href="<%- item.url %>" class="cart-window__image">
                        <img src="<%- item.images.default %>" alt="">
                    </a>
                </div>
                <div class="cell cell--grow">
                    <a href="<%- item.url %>" class="cart-window__link mb-5">
                        <span><%- item.title %></span>
                    </a>
                    <% if (item.attr.length) { -%>
                    <% item.attr.forEach( function(attr) { -%>
                    <div class="cart-window__attr mb-5">
                        <b><%- attr.key %></b> <span><%- attr.value %></span>
                    </div>
                    <% }); -%>
                    <% } -%>
                </div>
            </div>
        </div>
        <div class="cell cell--4 cell--md">
            <div class="cart-window__head md-show mb-10">
                <span><%- header.titles.price %></span>
            </div>
            <div class="cart-window__total">
                <span><%- item.prices.retail %></span><span class="cart-window__currency"><%- globals.currency %></span>
            </div>
        </div>
        <div class="cell cell--4 cell--md">
            <div class="cart-window__head md-show mb-10">
                <span><%- header.titles.count %></span>
            </div>
            <div class="cart-window__spinner js-wcart-spinner">
                <div class="cart-window__button js-wcart-spinner__decrement<% if (item.quantity.selected == item.quantity.mincount) { -%> is-disabled<% } -%>">
                    <%- tplSvgUse('icon-minus') -%>
                </div>
                <input class="cart-window__input js-wcart-spinner__quantity" type="tel" value="<%- item.quantity.selected %>">
                <div class="cart-window__button js-wcart-spinner__increment<% if (item.quantity.selected == item.quantity.maxcount) { -%> is-disabled<% } -%>">
                    <%- tplSvgUse('icon-plus') -%>
                </div>
            </div>
        </div>
        <div class="cell cell--4 cell--md">
            <div class="cart-window__head md-show mb-10">
                <span><%- header.titles.total %></span>
            </div>
            <div class="cart-window__total">
                <span><%- item.totalPrices.retail %></span><span class="cart-window__currency"><%- globals.currency %></span>
            </div>
        </div>
    </div>
</div>
<% }); -%>
<div class="cart-window__totals pb-20 pg-20">
    <div class="grid grid--acenter grid--jend i-10">
        <div class="cell">
            <div class="cart-window__name">
                <span><%- header.titles.result %></span>
            </div>
        </div>
        <div class="cell cell--4 cell--md">
            <div class="cart-window__total">
                <span><%- globals.totalPrices.retail %></span><span class="cart-window__currency"><%- globals.currency %></span>
            </div>
        </div>
    </div>
</div>
<div class="cart-window__hr"></div>
<% } -%>
<div class="cart-window__container pt-20">
    <div class="grid grid--jbetween grid--acenter i-10">
        <div class="cell cell--smoend">
            <% if (globals.returnToShopping.enable) { -%>
            <a href="<%- globals.returnToShopping.url %>" class="btn">
                <span><%- header.titles.goto %></span>
            </a>
            <% } else { -%>
            <div class="btn" onclick="$.magnificPopup.close()">
                <span><%- header.titles.gotoBtn %></span>
            </div>
            <% } -%>
        </div>
        <% if (list.length) { -%>
        <div class="cell cell--smostart">
            <a href="<%- globals.paths.orderView %>" class="btn btn--green">
                <span><%- header.titles.orderBtn %></span>
            </a>
        </div>
        <% } -%>
    </div>
</div>